body {
    padding: 0;
    margin: 0;
    background: url(images/body-image.png) no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
    color: #404040;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #708090;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    background: url(images/container-image.jpg) no-repeat;
}

.added-tasks {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-caption, .added-tasks__caption {
    align-self: center;
}

.task-list {
    padding: 0;
    margin: 0;
}

.task-list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #404040;
}

.hiddenStatus, .hiddenDeadline {
    display: none;
}